.View-container {
  background-color: burlywood;
  padding: 20px;
  width: 700px;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgb(102, 19, 19);
}

.View-details {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  color: brown;
  font-size: 20px;
}
.b2 {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: brown;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
  width: 120px;
  height: 50px;
  margin-left: 270px;
}
.b2:hover {
  background-color: darkred;
}

p {
  color: green;
  font-weight: bold;
}
strong {
  color: brown;
}
